:root{
    --primary-color: #c68dff;
    --secondary-color: #cbe857;
    --dark-color:#323843;
    --light-color: #e6e6e6;
    --text-color: #000000;
  }
*{
    font-family: "Roboto", sans-serif;
}
body{
    margin: 0;
    padding: 0;
}